
<tr>
  <td></td>
  <td><%= link_to(group.title, group_path(group))%></td>
  <td><%= group.description %></td>
  <td><%= group.posts.count %></td>
  <td><%= group.created_at %></td>
  <td><%= link_to("Edit", edit_group_path(group))%></td>
</tr>
